In [1]:
import pandas as pd

In [2]:
l = [x for x in range(5)]

In [3]:
s = pd.Series(l)

In [4]:
s

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [5]:
s = pd.Series(l, index=['a','b','c','d','e'])

In [6]:
s

a    0
b    1
c    2
d    3
e    4
dtype: int64

In [12]:
#s = pd.Series(l, index=['a','b','c','d','e','f']) error Length of passed values is 5, index implies 6.

In [11]:
s['e']

4

In [14]:
s = pd.Series([x for x in range(1,11)])
s

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [15]:
s.iloc[0]

1

In [16]:
s.iat[0]

1

In [17]:
s[5:9]

5    6
6    7
7    8
8    9
dtype: int64

In [19]:
s[-4:-1]

6    7
7    8
8    9
dtype: int64

In [20]:
s.where(s%2 == 0)

0     NaN
1     2.0
2     NaN
3     4.0
4     NaN
5     6.0
6     NaN
7     8.0
8     NaN
9    10.0
dtype: float64

In [22]:
s.where(s%2==0,'even')

0    even
1       2
2    even
3       4
4    even
5       6
6    even
7       8
8    even
9      10
dtype: object

In [23]:
s.where(s%2==0,s**2)

0     1
1     2
2     9
3     4
4    25
5     6
6    49
7     8
8    81
9    10
dtype: int64

In [27]:
s.where(s%2==0, inplace=True)
s

0     NaN
1     2.0
2     NaN
3     4.0
4     NaN
5     6.0
6     NaN
7     8.0
8     NaN
9    10.0
dtype: float64

In [28]:
s.dropna()

1     2.0
3     4.0
5     6.0
7     8.0
9    10.0
dtype: float64

In [29]:
s.fillna('Filed Value')

0    Filed Value
1            2.0
2    Filed Value
3            4.0
4    Filed Value
5            6.0
6    Filed Value
7            8.0
8    Filed Value
9           10.0
dtype: object

In [32]:
df = pd.DataFrame()

In [34]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
#df = pd.read_csv('PandasExample.csv')
df
df.head()
df.tail()
df.head(3)
df.iloc[0]
df.values
df = pd.read_csv('PandasExample.csv', chunksize=2)
for chunk in df:
    print(chunk)
    
df = df[df['Age']>25]

In [ ]:
import pandas as pd
df = pd.read_csv('HousePrices.csv', parse_dates = True)
df.head()
df.loc['Seattle'].loc['2014-05-02 00:00:00']